.GamingCard{  
    display: flex;
    flex-direction: column;
    background-color: var(--red-800);
    width: 320px;
    padding: 10px;
    margin: 10px;
    height: 300px;
    
    small{
        margin-top: 10px;
        color: var(--gray-500);
        
    }

}