.footerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    

    h2{
        color: var(--red-500);
    }

    small{
        color: var(--gray-500);
    }

    .footerIcon{
        color: var(--gray-500);
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .footerInfo{
        display: flex;
        width: 90%;
        min-width: 380px;

        
        .footerAboutUs{
            width: 50%;
            padding: 30px;
        }
        
        .footerFallowContact{
            width: 50%;
            padding: 30px;

            div{

                a{
                    padding: 10px;

                    & :hover{
                        color: var(--red-400);
                    }
                }
            }
            div:last-child{
                margin-top: 20px;
            }
        }

        @media only screen and (max-width: 700px){
            flex-direction: column;

            .footerAboutUs{
                width: 100%;
                padding: 30px 30px 0px 30px;
            }
            
            .footerFallowContact{
                width: 100%;
            }
        }
        
    }
    .footerDeveloper{
        padding: 20px;
        width: 90%;
        text-align: end;
        font-size: 0.6rem;

        a{
            color: var(--gray-500);

            &:hover{
                color: var(--red-500);
            }
        }
    }
}