*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial';
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
}

html{
    scroll-behavior: smooth;
}

