.carouselContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    .carouselImage{
        display: flex;
        min-width: 380px;
        width:90%;
        max-width: 1200px;
        max-height: 512px;
        overflow-x: hidden;

        @media only screen and(max-width:800px){
            height: 300px;       
        }

        @media only screen and(max-width:600px){
            height: 150px;       
        }

        img{
            position: relative;
            right: 0%;
            width: 100%;
            transition: right 0.5s ease-in-out;
        }
    }
    
}